<div class='screen-profile-main'>
	<div class='row'>
		<div class='col-md-12'>
			<div c-calendar events='events'></div>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-12'>
			<div class='screen-profile-main__maxes'>
				<table class='table table-bordered' ng-if='currentMaxes'>
					<thead>
						<tr>
							<th>*</th>
							<th colspan='2'>Press</th>
							<th colspan='2'>Deadlift</th>
							<th colspan='2'>Bench</th>
							<th colspan='2'>Squat</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1RM</td>
							<td colspan='2'>{{currentMaxes.press}}</td>
							<td colspan='2'>{{currentMaxes.deadlift}}</td>
							<td colspan='2'>{{currentMaxes.bench}}</td>
							<td colspan='2'>{{currentMaxes.squat}}</td>
						</tr>
						<tr ng-repeat='fraction in [0.95,0.90,0.85,0.80,0.75,0.65] track by $index'>
							<td><em>{{fraction*100}}%</em></td>
							<td ng-repeat-start='lift in ApplicationEnum.LIFT track by $index'>{{maxFraction(currentMaxes[lift], fraction)}}<small>lbs</small></td>
							<td ng-repeat-end>{{repgoal(currentMaxes[lift], fraction)}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a class='btn btn-sm btn-default' ng-if='uriEncodedMaxes' ng-href='api/table/531?{{uriEncodedMaxes}}'>531 Cycle</a>
			<a class='btn btn-sm btn-default' ng-if='uriEncodedMaxes' ng-href='api/table/gzcl?{{uriEncodedMaxes}}'>GZCL Method</a>
			<th><em>Maxes as of {{currentMaxes.date}}</em></th>
		</div>
	</div>
</div>
