<div class="sidebar col-sm-3 col-md-2">
	<div ng-repeat='group in nav' ng-init='group.$show=false'>
		<div class='sidebar__group'>
			<div class='sidebar__group-header'>
				<a ng-href='#{{ group.links[0].href }}'>{{ group.label }}<i class='sidebar__group-dropdown' ng-click='group.$show=!group.$show' fa='angle-down'></i>

				</a>
			</div>
			<div class='sidebar__group-contents' ng-show='group.$show'>
				<ul class='nav sidebar__nav' >
					<li ng-repeat='link in group.links' cmn-nav-link='link'></li>
				</ul>
			</div>
		</div>
	</div>
</div>
