<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header layout-nav-bar">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img src='public/images/ng.png' alt='Northrop Grumman' class='img--ng' />
				<span>{{ AppConfig.applicationName }}</span>
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right" ng-repeat='group in nav'>
				<li ng-repeat='link in group.links' cmn-nav-link='link'></li>
			</ul>
		</div>
	</div>
</div>
