<div class='overlay' ng-class='cssClass'>
	<div class='overlay__container'>
		<div class='overlay__component--free'>
			<div image-preview></div>
			<div login></div>
		</div>
		<div class='overlay__component--top-left'>
		</div>
		<div class='overlay__component--top-middle'>
			<div ng-repeat='message in messages' class='alert alert-{{ message.type }}'>
				<strong ng-bind='message.title'></strong>
				<span ng-bind='message.message'></span>
			</div>
		</div>
		<div class='overlay__component--top-right'>
		</div>
		<div class='overlay__component--bottom-left'>
		</div>
		<div class='overlay__component--bottom-middle'>
		</div>
		<div class='overlay__component--bottom-right'>
			<c-app-messages></c-app-messages>
		</div>
	</div>
</div>
