.bootstrap-web {
	/*background-color: #f5f5f5;*/
}

.container--default {
	padding-top: 40px;
}

.app-web .form-actions {
	background-color: #F0F0F0;
}

.breadcrumb--block {
	margin: 1em 0em 0em;
}

.app-web__sidebar {
	width: 18.5%;
	float: left;
	
}

.app-web__content {
	width: 79%;
	float: left;
	margin-left: 37px;
}
 
.app-web--fullscreen .app-web__sidebar {
	display: none;
} 

.app-web--fullscreen .app-web__content {
	width: 100%;
	float: none;
	margin-left: 0px;
}

.app-web__bottom {
	position: absolute;
	bottom: 0;
}

.app-web__collapse {
	border: 0;
	background: none;
	width: 20px;
	height: 20px;
	cursor: pointer;
	text-align: center;
}

.app-web__collapse:hover {
	background: #dedede;
}

