.screen-profile-main__maxes th,
.screen-profile-main__maxes td {
	text-align: center;
}

.screen-profile-main__maxes table {
}


.screen-profile-main__maxes .btn {
	margin-left: 2px;
	margin-bottom: 2px;
}

.screen-profile-main .row {
	margin-bottom: 20px;
}

.screen-profile-main__maxes {
	background: #fff;
}

.screen-profile-main__lift--press {
	color: #fff;
	background: rgba(212, 13, 13, 1);
}

.screen-profile-main__lift--deadlift {
	color: #fff;
	background: rgba(0, 187, 0, 1)
}

.screen-profile-main__lift--bench {
	color: #fff;
	background: rgba(23, 23, 189, 1);
}


.screen-profile-main__lift--squat {
	color: #fff;
	background: rgba(255, 112, 0, 1);
}


