<div class='screen-profile-main'>
	<panel panel-title='Events' class='panel-default'>
	<div class='row row--chop'>
		<div class='col-md-10'>
			<div class='clearfix'>	
				<div c-calendar='selectDay(day)' events='events'></div>
			</div>
		</div>
		<div class='col-md-2'>
			<a class='btn btn-default btn-block' ng-href='#/profile/personal-record/edit?autoFill=true'><i class='fa fa-plus-square'></i> Add Log</a>
		</div>
	</div>
	</panel>
	<panel panel-title='Stats' class='panel-default'>
		<div class='row'>
			<div class='col-md-6'>
				<h6>Latest</h6>
				<div class='table-responsive'>
					<table class='table table-bordered'>
						<tbody>
						<tr ng-repeat='lift in ApplicationEnum.LIFT'>
							<th class='screen-profile-main__lift--{{ lift }}'>{{ lift }}</th>
							<td>
								<div dashboard-stats='stats.latest[lift]'></div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class='col-md-6'>
				<h6>Best</h6>
				<div class='table-responsive'>
					<table class='table table-bordered'>
						<tbody>
						<tr ng-repeat='lift in ApplicationEnum.LIFT'>
							<th class='screen-profile-main__lift--{{ lift }}'>{{ lift }}</th>
							<td>
								<div dashboard-stats='stats.best[lift]'></div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</panel>
</div>
