<div class='c-sidebar'>
	<div class='c-sidebar__nav'>
		<ul class="nav nav-tabs nav-stacked">
		  <li><a href='#/dashboard'><i class='icon-dashboard'> </i>Dashboard</a></li>
		</ul>
		<ul class="nav nav-tabs nav-stacked">
		  <li><a href='#/submission'>Submissions</a></li>
		</ul>
		<ul class="nav nav-tabs nav-stacked">
		  <li><a href='#/user'>Users</a></li>
		  <li><a href='#/agency'>Agencies</a></li>
		  <li><a href='#/interface'>Interfaces</a></li>
		</ul>
	</div>
	<div class='c-sidebar__bottom'>
		<button class='btn btn-link'><i class='icon-chevron-left'></i></span></button>
	</div>
</div>