<div class='b-overlay'>
	<div class='b-overlay__container'>
		<div class='b-overlay__component--free'>
		</div>
		<div class='b-overlay__component--top-left'>
		</div>
		<div class='b-overlay__component--top-middle'>
		</div>
		<div class='b-overlay__component--top-right'>
		</div>
		<div class='b-overlay__component--bottom-left'>
		</div>
		<div class='b-overlay__component--bottom-middle'>
		</div>
		<div class='b-overlay__component--bottom-right'>
			<c-app-messages></c-app-messages>
		</div>
	</div>
</div>