.c-calendar {
	text-align: center;
}

.c-calendar__day {
	float: left;
	width: 14.28%;
	height: 60px;
	background: #fff;
	border: 1px solid #aaa;
	cursor: pointer;
	overflow: hidden;
}

.c-calendar__week-header {
	float: left;
	width: 14.28%;
	height: 10%;
	background: #fff;
	border: 1px solid #aaa;
	cursor: pointer;
	font-weight: bold;
}

.c-calendar__day:hover {
	background: rgba(0,0,0,0.25);
}

.c-calendar__day {
	background: #fefefe;
	color: #ddd;
	position: relative;
}

.c-calendar__day--current-month {
	background: #fff;
	color: #000;
}

.c-calendar__day--today {
	background: rgba(0, 82, 255, 0.14);
	color: #000;
}

.c-calendar__day-label {
	position: absolute;
	left: 2px;
	top: 2px;
	font-size: 11px;
}

.c-calendar__event a {
	border-radius: 4px;
	text-shadow: 1px 1px rgba(0,0,0,0.25);
	font-weight: bold;
	padding: 2px 4px;
	font-size: 11px;
}

.c-calendar__day-button {
	position: absolute;
	bottom: 2px;
	right: 2px;
}

.c-calendar__day-button a {
	color: black;
}

.c-calendar__day .c-calendar__day-button {
	visibility: hidden;
}

.c-calendar__day:hover .c-calendar__day-button {
	visibility: visible;
}

.c-calendar__event--PersonalRecord {
	background: #00a !important;
	color: #fff;
}

.c-calendar__event--Maxes {
	color: #fff;
	background-color: rgb(184, 33, 33) !important;
}
