.c-calendar {
	text-align: center;
}

.c-calendar__day {
	float: left;
	width: 14.28%;
	height: 60px;
	background: #fff;
	border: 1px solid #aaa;
	cursor: pointer;

}

.c-calendar__week-header {
	float: left;
	width: 14.28%;
	height: 10%;
	background: #fff;
	border: 1px solid #aaa;
	cursor: pointer;
	font-weight: bold;
}

.c-calendar__day:hover {
	background: rgba(0,0,0,0.25);
}

.c-calendar__day {
	background: #fefefe;
	color: #ddd;
	position: relative;
}

.c-calendar__day--current-month {
	background: #fff;
	color: #000;
}

.c-calendar__day-label {
	position: absolute;
	left: 0;
	top: 0;
}
