<div class='c-calendar'>
	<div class='c-calendar__container'>
		<div class='c-calendar__header'>
		</div>
		<div class='c-calendar__body'>
			<div class='c-calendar__week-header' ng-repeat='day in "SMTWTFS" track by $index' ng-click='selectDay(day)'>{{ day }}</div>
			<div class='c-calendar__day' ng-class='cssForDay(day)' ng-repeat='day in calendar.days track by $index' ng-click='selectDay(day)'>
				<span class='c-calendar__day-label' >{{ day.date.format('D') }}</span>
				<div class='c-calendar__events'>
					<span ng-repeat='ev in day.events track by $index'>{{ ev }}</span>
				</div>
			</div>
		</div>
	</div>
</div>
