<div class='maxes'>
	<table class='table table-bordered'>
		<thead>
			<tr>
				<th>Press</th>
				<th>Deadlift</th>
				<th>Bench</th>
				<th>Squat</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ maxes.press }}</td>
				<td>{{ maxes.deadlift }}</td>
				<td>{{ maxes.bench }}</td>
				<td>{{ maxes.squat }}</td>
			</tr>
		</tbody>
	</table>
	<!--<a href='api/table/month?maxes={{maxes}}'>View Cycle</a>-->
	<a ng-href='api/table/month?maxes={{maxes.press}},{{maxes.deadlift}},{{maxes.bench}},{{maxes.squat}}'>View Cycle</a>
	<button ng-click='refresh()'>refresh</button>
</div>
