<div class='max-group'>
	<div class='form-group'>
		<label>Press</label>
		<input type='number' ng-model='maxGroup.p' class='form-control' />
	</div>
	<div class='form-group'>
		<label>Deadlift</label>
		<input type='number' ng-model='maxGroup.d' class='form-control' />
	</div>
	<div class='form-group'>
		<label>Bench</label>
		<input type='number' ng-model='maxGroup.b' class='form-control' />
	</div>
	<div class='form-group'>
		<label>Sqaut</label>
		<input type='number' ng-model='maxGroup.s' class='form-control' />
	</div>
</div>
