.pr-graph {
	height: 200px;
	/*border: 1px solid #777;*/
	background: #fff;
	position: relative;
}

.pr-graph svg {
	overflow: hidden;
}

.pr-graph__g--press {
	stroke: blue;
}

.pr-graph__maxes {
	stroke: red;
	stroke-width: 2px;
}

.pr-graph__data-point text {
	cursor: pointer;
	stroke: red;
	visibility: hidden;
}

.pr-graph__data-point:hover text {
	visibility: visible;
}

.pr-graph__dot {
	stroke-width: 10px;
	stroke-linecap: round;
	cursor: pointer;
}

.pr-graph__dot--hl {
	stroke: red;
}

.pr-graph__dot--selected {
	stroke: rgb(201, 33, 216);
	stroke-width: 20px;
}

.pr-graph__path {
	fill: none;
	stroke-width: 4px;
}

.pr-graph__g--tm {
	stroke: rgb(184, 33, 33);
}

.pr-graph__g--em {
	stroke: rgba(0, 0, 170, 0.7)
}

.pr-graph__xaxis {
	stroke: rgba(0,0,0,0.15);
}

.pr-graph__xaxis text {
	fill: rgba(0,0,0,0.15);
	alignment-baseline: middle;
	font-size: 10px;
}

.pr-graph__delta {
	position: absolute;
	right: 0;
	bottom: 0;
	background: rgba(209, 81, 209, 1);
	border-radius: 4px;
	padding: 2px;
	line-height: 12px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.56);
}

.pr-graph__left {
	background: rgba(209, 81, 209, 1);
	border-radius: 4px;
	padding: 2px;
	line-height: 12px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.56);

	position: absolute;
	left: 0;
	bottom: 0;
}

.pr-graph__dropdown {
	position: absolute;
	top: 0;
	left: 0;
	background: red;
}
