<div class='pr-graph'>
	<svg ng-attr-width='{{ el.width }}' ng-attr-height='{{ el.height }}'>
		<!-- Axis -->
		<g transform='translate(0, 5)' ng-hide='hide.axis'>
			<g ng-repeat='t in syTicks' ng-attr-transform='translate(0, {{ sy(t) }})' class='pr-graph__xaxis'>
				<line ng-attr-x2='{{ el.width }}'></line>
				<text>{{ t }}</text>
			</g>
		</g>
		<!-- DATA -->
		<g transform='translate({{ el.mx }}, {{ el.my }})' >
			<g class='pr-graph__g--press'>
				<!-- Estimated Max -->
				<g class='pr-graph__g pr-graph__g--em' ng-hide='hide.es'>
					<path class='pr-graph__path pr-graph__path--em' ng-attr-d='{{ line(records) || "M0 0 Z" }}' />

					<!-- Estimated Max Nodes -->
					<g class='pr-graph__data-point' ng-repeat='r in records' 
							ng-click='select($event, r)'
							ng-mouseover='highlight(r)' 
							ng-attr-transform='{{ translate(r) }}')>
						<line y2='{{ -r.calcDelta }}' class='pr-graph__dot-change' />
						<line class='pr-graph__dot' ng-class='{"pr-graph__dot--hl": r.r.$highlight}' />
					</g>
				</g>

				<!-- Training Max -->
				<g class='pr-graph__g pr-graph__g--tm' ng-hide='hide.tm'>
					<path class='pr-graph__path pr-graph__path--tm' ng-attr-d='{{ lineStep(maxes) || "M0 0 Z" }}' />
					<!-- Training Maxes -->
					<g class='pr-graph__data-point pr-graph__data-point--maxes' 
							ng-repeat='m in maxes' 
							ng-attr-transform='{{ translateMax(m) }}')
							ng-mouseover='highlight(m)' >
						<line class='pr-graph__dot' ng-class='{"pr-graph__dot--hl": r.r.$highlight}' />
					</g>
				</g>

				<!-- Highlighted Nodes -->
				<g ng-repeat='n in selectedNodes track by $index'
						ng-click='deselect($event, n)'
						ng-attr-transform='{{ translate(n) }}'>
					<line class='pr-graph__dot pr-graph__dot--selected' />
				</g>

			</g>
		</g>


	</svg>
	<pr-graph-dropdown></pr-graph-dropdown>
	<div class='pr-graph__html' ng-hide='hide.extra'>
		<div class='pr-graph__left' ng-if='selectedNode'>{{ selectedNode.weight }}x{{ selectedNode.reps}}~{{ selectedNode.max | number:2 }} on {{ selectedNode.date.toDate() | date:'yyyy-MM-dd' }}</div>
		<div class='pr-graph__delta'> &Delta; {{ delta | number:3 }}</div>
	</div>
</div>
