.pr-graph {
	height: 200px;
	border: 1px solid #777;
	background: #fff;
	margin-bottom: 20px;
	overflow: hidden;
}

.pr-graph__g--press {
	stroke: blue;
}

.pr-graph__data-point text {
	cursor: pointer;
	stroke: red;
	visibility: hidden;
}

.pr-graph__data-point:hover text {
	visibility: visible;
}

.pr-graph__dot {
	stroke-width: 10px;
	stroke-linecap: round;
}

.pr-graph__dot--hl {
	stroke: red;
}

.pr-graph__path {
	fill: none;
	stroke-width: 4px;
}

.pr-graph__xaxis {
	stroke: rgba(0,0,0,0.15);
}
