<div class='pr-graph'>
	<svg ng-attr-width='{{ el.width }}' ng-attr-height='{{ el.height }}'>
		<g transform='translate({{ el.mx }}, {{ el.my }})' >
			<g class='pr-graph__g--press'>
				<path class='pr-graph__path' ng-attr-d='{{ line(records) || "M0 0 Z" }}' />
				<g class='pr-graph__data-point' ng-repeat='r in records' 
						ng-click='select($event, r)'
						ng-mouseover='highlight(r)' 
						ng-attr-transform='{{ translate(r) }}')>
					<line class='pr-graph__dot' ng-class='{"pr-graph__dot--hl": r.r.$highlight}' />
				</g>
				<g ng-repeat='n in selectedNodes track by $index'
					ng-click='deselect($event, n)'
					ng-attr-transform='{{ translate(n) }}'>
					<line class='pr-graph__dot pr-graph__dot--selected' />
				</g>
			</g>
		</g>
		<g ng-repeat='t in sy.ticks()' ng-attr-transform='translate(0, {{ sy(t) }})' class='pr-graph__xaxis'>
			<line ng-attr-x2='{{ el.width }}'></line>
			<text>{{ t }}</text>
		</g>
		<text transform='translate(0, {{ el.height - 20 }})'>&Delta; {{ delta | number:3 }}</text>
	</svg>
</div>
