<div class='pr-list'>
	<div class='pr-list__view--list'>
		<table class='table table-bordered'>
			<thead>
				<tr>
					<th>Date</th>
					<th>Lift</th>
					<th>Weight</th>
					<th>Reps</th>
					<th>Est. Max</th>
				</tr>
			</thead>
			<tbody>
				<tr class='pr-list__row' ng-class='{"pr-list__row--hl" : pr.$highlight}' ng-repeat='pr in list track by $index' ng-mouseover='highlight(pr)'>
					<td><a ng-href='#/profile/personal-record/edit?date={{pr.date}}'>{{ pr.date }}</td>
					<td>{{ pr.lift }}</td>
					<td>{{ pr.weight }}</td>
					<td>{{ pr.reps }}</td>
					<td>{{ estMax(pr) }}</td>
				</tr>
			</tbody>
		</table>
	</div>	
</div>
