<div class='pr-list'>
	<div class='pr-list__view--list'>
		<div class='table-responsive'>
			<table class='table table-bordered'>
				<thead>
					<tr>
						<th>Date</th>
						<th>Lift</th>
						<th>Weight</th>
						<th>Reps</th>
						<th colspan='4'></th>
					</tr>
				</thead>
				<tbody>
				<tr class='pr-list__row' ng-class='{"pr-list__row--hl" : pr.$highlight}' ng-repeat='pr in list track by $index' ng-mouseover='highlight(pr)'>
					<td>
						<a ng-href='#/profile/note/edit?date={{pr.date}}' class='btn btn-default btn-xs'>{{ pr.date }}</a>
					</td>
					<td>{{ pr.lift }}</td>
					<td>{{ pr.weight }}</td>
					<td>{{ pr.reps }}<small class='text-muted'>/{{ pr.calc.repTarget }}</small></td>
					<td class='text-center'><span class='label label-default label--estimatedMax'>{{ pr.calc.estimatedMax | number:2 }}</span></td>
					<td class='text-center'><span class='label label-default label--deltaTargetMax'>{{ pr.calc.estimatedMax - pr.calc.targetMax | number:2 }}</span></td>
					<td class='text-center'><span class='label label-default label--deltaTrainingMax'>{{ pr.calc.estimatedMax - pr.calc.effectiveMax | number:2 }}</span></td>
					<td class='text-center' title='{{ pr | json }}'>
						<span ng-show='pr.calc.estimatedMax > pr.calc.targetMax' class='icon--prGood'></span>
						<span ng-show='pr.calc.estimatedMax <= pr.calc.targetMax && pr.calc.estimatedMax >= pr.calc.effectiveMax' class='icon--prMeh'></span>
						<span ng-show='pr.calc.estimatedMax < pr.calc.effectiveMax' class='icon--prBad'></span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>
