<div class='screen-profile-personal-record-edit'>
	<h4>Maxes for {{ date }}</h4>
	<div>
		<form>
			<div class='form-group'>
				<label class='form-label'>Press</label>
				<input type='text' ng-model='maxes.press' class='form-control' />
			</div>
			<div class='form-group'>
				<label>Deadlift</label>
				<input type='text' ng-model='maxes.deadlift' class='form-control' />
			</div>
			<div class='form-group'>
				<label>Bench</label>
				<input type='text' ng-model='maxes.bench' class='form-control' />
			</div>
			<div class='form-group'>
				<label>Squat</label>
				<input type='text' ng-model='maxes.squat' class='form-control' />
			</div>
			<button class='btn btn-primary'>Save Changes</button>
		</form>
	</div>
</div>
