<div class='wo-lifts'>
	<div class='wo-lifts__numbers'>
		<div class='wo-lifts__control'>
			<div class='wo-lifts__title'>Press</div>
			<input type='text' ng-model='lifts.Press' />
		</div>
		<div class='wo-lifts__control'>
			<div class='wo-lifts__title'>Deadlift</div>
			<input type='text' ng-model='lifts.Deadlift' />
		</div>
		<div class='wo-lifts__control'>
			<div class='wo-lifts__title'>Bench</div>
			<input type='text' ng-model='lifts.Bench' />
		</div>
		<div class='wo-lifts__control'>
			<div class='wo-lifts__title'>Squat</div>
			<input type='text' ng-model='lifts.Squat' />
		</div>
	</div>
	<div class='wo-lifts__cycle'>
		<button class='wo-lifts__cycle-next' ng-click='nextCycle()'>Next Cycle</button>
		<button class='wo-lifts__cycle-prev' ng-click='prevCycle()'>Prevous Cycle</button>
	</div>
</div>