body {
    background: white;
    font-family: sans-serif;
    font-size: 11px;
    background: #fafafa;
}

.wo-app {
    width: 845px;
    margin: 0 auto;
}

.wo-day {
    display: inline-block;
    margin-right: 20px;
    background: #fff;
}

.wo-day table {

    border-collapse:collapse;
    border: 2px solid #444    ;
}

.wo-day td,
.wo-day th
{
    border: 1px solid #444;
    text-align: center;
}

.wo-day .col-weight {
    width: 20px;
}

.wo-day .col-plate {
    width: 20px;
}

.wo-day .col-percent {
    width: 20px;
}

.wo-day__top-head {
    background: black;
    color: #fff;
}

.wo-day__warm-up {
    background: rgba(0,0,0,0.25);
}

.wo-day__warm-up td:nth-of-type(1),
.wo-day__warm-up td:nth-of-type(2)
{
    background: rgba(0,0,0,0.5);
}

.wo-day__bbb {
    background: rgba(0,0,255,0.25);
}

.wo-day__bbb td:nth-of-type(1),
.wo-day__bbb td:nth-of-type(2)
{
    background: rgba(0,0,255,0.5);
}

.wo-day__work-set {
    background: rgba(255,0,0,0.25);
    font-weight: bold;
}

.wo-day__work-set td:nth-of-type(1),
.wo-day__work-set td:nth-of-type(2)
{
    background: rgba(255,0,0,0.6);
}

.wo-week {
    margin-bottom: 20px
}

.wo-week .wo-day:nth-of-type1 {
    background: blue;
}

.wo-lifts {
    
}

.wo-lifts__control {
    display: inline-block;
    margin-left: 25px;
}

.wo-lifts__control:nth-of-type(1) {
    margin-left: 0px;
}

.wo-lifts__control input {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px;
    width: 180px;   
}

.wo-lifts__title {
    text-align:center; 
}

.wo-lifts__cycle button {
    background: rgba(0,0,255,0.55);
    padding: 4px;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 4px;
    cursor: pointer;
}

.wo-lifts__cycle-next {
    float: right;
}

.wo-lifts__cycle-prev {
    float: left;
}