@warmupsetColor: gray;
@worksetColor: #DF5252;
@bbbsetColor: #8580FF;

.set(@color, @background) {
	color: @color;
	background: @background; 
	text-align: center;
}

.setHead(@color) {
	color: darken(@color,40);
	background: @color;
}

.wo-day__work-set td {
	.setHead(@worksetColor);
}

.wo-day__bbb td {
	.setHead(@bbbsetColor);
}

.wo-day__warm-up td {
	.setHead(@warmupsetColor);
}

@iterations: 8;

.loopingClass (@index) when (@index > 2) {
		
    .wo-day__work-set td:nth-of-type(@{index}) {
    	.set(#000, fadeout(@worksetColor, 10%*@index));    
    }
    
    .wo-day__bbb td:nth-of-type(@{index}) {
    	.set(#000, fadeout(@bbbsetColor, 10%*@index));    
    }
    
    .wo-day__warm-up td:nth-of-type(@{index}) {
    	.set(#000, fadeout(@warmupsetColor, 10%*@index));    
    }
    

    .loopingClass(@index - 1);
}

.loopingClass (0) {}

.loopingClass (@iterations);
