<div class='wo-day'>
	<table>
		<thead>
			<tr class='wo-day__title'>
				<th colspan='2'>{{ oneRepMax }}</th>
				<th colspan='6'>{{ week }}</th>
			</tr>
			<tr class='wo-day__top-head'>
				<th class='col-percent'>%</th>
				<th class='col-weight'>W</th>
				<th class='col-plate'>45</th>
				<th class='col-plate'>35</th>
				<th class='col-plate'>25</th>
				<th class='col-plate'>10</th>
				<th class='col-plate'>5</th>
				<th class='col-plate'>2.5</th>
			</tr>
		</thead>
		<tbody ng-repeat='row in table'>
			<tr class='{{rowClass[$index]}}'>
				<td>{{row[0] * 100}}%</td>
				<td>{{row[1]}}</td>
				<td>{{row[2] || "-"}}</td>
				<td>{{row[3] || "-"}}</td>
				<td>{{row[4] || "-"}}</td>
				<td>{{row[5] || "-"}}</td>
				<td>{{row[6] || "-"}}</td>
				<td>{{row[7] || "-"}}</td>
			</tr>
		</tbody>
		<thead>
			<tr class='wo-day__top-head' ng-hide='week == "DL"'>
				<th class='col-percent' colspan=2>GOAL</th>
				<th class='col-plate' colspan=3>{{ repGoal }}</th>
				<th class='col-plate' colspan=3></th>
		</thead>
	</table>
</div>