body {
	/*font-size: 10px;*/
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}
 
.lift--default .lift__week-table,
.lift--default .lift__week-header,
.page--gzcl .lift--default .lift__set--87_5 
{background: rgba(0, 0, 0, 0.5);}

.lift--1 .lift__week-table,
.lift--1 .lift__week-header,
.page--gzcl .lift--press .lift__set--87_5 
{background: rgba(212, 13, 13, 1);}

.lift--2 .lift__week-table, 
.lift--2 .lift__week-header,
.page--gzcl .lift--deadlift .lift__set--87_5
{background: rgba(0, 187, 0, 1);}

.lift--3 .lift__week-table, 
.lift--3 .lift__week-header,
.page--gzcl .lift--bench .lift__set--87_5
{background: rgba(23, 23, 189, 1);}

.lift--4 .lift__week-table, 
.lift--4 .lift__week-header,
.page--gzcl .lift--squat .lift__set--87_5
{background: rgba(255, 112, 0, 1);}

.lift__set--100
{color: #aaa; font-style: italic;}


.container {
	padding-top: 10px;
}

.lift__max {
	text-align: center;
}

.lift__week {
	padding: 0;
	margin-bottom: 8px;
}

.lift__week-table {
	border-radius: 2px;
	margin-right:10px;
	padding: 4px;
}

.lift__week table {
	background-color: #fff;
	margin-bottom: 0;
	width: 100%;
}

.lift__week thead {
}

.lift__week td,
.lift__week th {
	padding: 4px !important;
	text-align: center;
	border-right: 1px solid #ddd;
}
.lift__week-legend {
	font-size: 10px;
}
.date {
	margin-top: 20px;
	font-size: 12px;
	color: #aaa;
}

.lift__week-header td,
.lift__week-header th
{
	border: none !important;
}

.lift__week-header th {
	font-size: 11px;
}

.lift__week-header {
	color: #fafafa;
	border: none !important;
}

.lift__week-legend { 
}

.lift__set td:nth-child(2) {
	border-right: solid 2px #444;
}

tr.lift__set {
	border-bottom: 1px green solid;
}

tr.lift__set:last-child {
	border-bottom: #ddd;
}

.lift__week-legend td {
	border-bottom: solid 2px #444 !important;
}

.lift__week-legend td:nth-child(2n+4),
.lift__set td:nth-child(2n+4) {
	background: rgba(0,0,0,0.05);

}

.lift__check {
	border: 1px black solid;
	height: 16px;
}

.page--gzcl .lift__set--87_5 {color: white; font-weight: bold}
.page--gzcl .lift__set--65_0 { background: #aaa; color: white; font-weight: bold}

.td--check {
	color: #eee;
	height: 40px;
	line-height: 40px;
	border-top-color: #000 !important;
	border-right-color: #000 !important;
}

.settings::before {
	content: "";
	
}

.settings {
	cursor: pointer;
	margin: 8px;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	position: fixed;
	bottom: 0;
	left: 0;
	background: white;
}

.settings:hover {
	width: 300px;
}

.settings:hover .settings__content {
	display: block;
}

.settings__content {
	padding: 8px;
	display: none;
}

hr.page-break {
}

.table tr {
	border-bottom: 1px solid #ddd;
}

.table tr:last-child {
	border-bottom: none;
}
