.lift--1 .lift__week-table {background: rgba(212, 13, 13, 1);}
.lift--2 .lift__week-table {background: rgba(0, 187, 0, 1);}
.lift--3 .lift__week-table {background: rgba(23, 23, 189, 1);}
.lift--4 .lift__week-table {background: rgba(255, 112, 0, 1);}

.lift__fraction--85 { background: #444; color: white; font-weight: bold}
.lift__fraction--65 { background: #aaa; color: white; font-weight: bold}

.lift__month {
}

.lift__max {
	text-align: center;
}

.lift__week {
	padding: 0;
	margin-bottom: 8px;
}

.lift__week-table {
	border-radius: 2px;
	margin-right:10px;
	padding: 4px;
}

.lift__week table {
	background-color: #fff;
	margin-bottom: 0;
}

.lift__week thead {
}

.lift__week td,
.lift__week th {
	padding: 4px !important;
	text-align: center;
}
.lift__week-legend {
	font-size: 10px;
}
.date {
	margin-top: 20px;
	font-size: 12px;
	color: #aaa;
}

