<div class='screen-watcher-detail'>
	<h1 class='page-header'>Watcher: {{ w.name }}</h1>
	<form>
		<div class='control-group'>
			<label>Name</label>
			<input ng-model='w.name' type='text' class='form-control' />
		</div>
		<div class='control-group'>
			<label>Source Endpoint Name</label>
			<select ng-model='w.sourceEndpointName' ng-options='e.name as e.name for e in endpoints | filter:{direction:"SOURCE"}' class='form-control'></select>
		</div>
		<div class='control-group'>
			<label>Destination Endpoint Name</label>
			<select ng-model='w.destinationEndpointName' ng-options='e.name as e.name for e in endpoints | filter:{direction:"DESTINATION"}' class='form-control'></select>
		</div>
		<div class='control-group'>
			<label>FTP Path</label>
			<input ng-model='w.path' type='text' class='form-control' />
		</div>
		<div class="form-group">
			<label for="description">Match Response Mode</label>
			<select ng-model='w.mode' ng-options="t as t for t in Enum.WatcherMode" class='form-control'></select>
			<span class="help-block"></span>
		</div>
		<hr />
		<button ng-click='save([w])' class='btn btn-primary'>Save</button>
	</form>
</div>
