<div class='screen-watcher-request'>
	<h2>
		<span>Simulate Request</span>
	</h2>
	<div style='font-size: 18px'>
		<span class='label label-primary'>{{ f.sourceEndpointName }}</span>
		<i fa='envelope'></i>
		<i fa='arrow-right'></i>
		<span class='label label-success'>{{ f.destinationEndpointName }}</span>
	</div>
	<br />

	<form ng-submit='upload()' >

		<div class='form-group has-success'>
			<label>Attach File</label>
			<br />
			<a class='btn btn-default' jq-click-next><i fa='file'></i> Choose file</a>
			<input type="file" ng-file-select="onFileSelect($files)" class='hidden' />
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show='f.$fileReady'></span>
		</div>
		<div class='form-group'>
			<label>CorrelationId</label>
			<input ng-model='f.correlationId' type='text' name='correlationId' class='form-control' />
		</div>


		<button class='btn btn-primary'><i fa='upload'></i> Create Request</button>
	</form>
	<hr />

	<div class='alert alert-info' ng-if='response.pending'>
		<strong>
			<i fa='spinner' class='fa-spin'></i>
			<span>Creating request</span>
		</strong>
		<p>{{ response.message }}</p>
	</div>

	<div class='alert alert-danger' ng-if='response.error'>
		<strong><i fa='times-circle'></i> Error creating request</strong>
		<p>{{ response.message }}</p>
	</div>

	<div class='alert alert-success' ng-if='response.success'>
		<strong><i fa='check'></i> Successfully created request</strong>
		<p>{{ response.message }}</p>
	</div>
</div>
