<div class='screen-dashboard'>
	<div class='form-group'>
		<label>Filter</label>
		<input type='text' ng-model='filter' class='form-control' />
	</div>
	<table class='table table-bordered'>
		<thead>
			<tr>
				<th>Event</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody ng-repeat='e in events | orderBy:"timestamp" | filter:filter | limitTo:50 track by e.id'>
			<tr>
				<td>
					<c dashboard-event-status='e'></c>
				</td>
				<td>
					<small>{{ e.message }}</small>
					<div class='pull-right'>
						<a class='btn btn-default btn-xs' ng-click='showDetails(e.id)'>
							<i fa='plus' ng-show='showDetailsId !== e.id'></i>
							<i fa='minus'  ng-show='showDetailsId === e.id'></i>
						</a>
					</div>
				</td>
			</tr>
			<tr ng-if='showDetailsId === e.id'>
				<td colspan='2'>				
					<pre>{{ e | json }}</pre>
				</td>
			</tr>
		</tbody>
	</table>
	<p>Note: only showing last 50 results</p>
</div>
