<div class='screen-profile-maxes-edit'>
	<h4><span class='text-success' ng-show='record.key == null'>NEW </span>Maxes for {{ r.date }}</h4>
	<div>
		<form name='MaxForm'>
			<div class='form-group'>
				<label>Press</label>
				<input type='number' min='5' max='1000' step='5' value='100' class='form-control' ng-model='record.press' required />
			</div>
			<div class='form-group'>
				<label>Deadlift</label>
				<input type='number' min='5' max='1000' step='5' value='100'  class='form-control' ng-model='record.deadlift' required />
			</div>
			<div class='form-group'>
				<label>Bench</label>
				<input type='number' min='5' max='1000' step='5' value='100' class='form-control' ng-model='record.bench' required />
			</div>
			<div class='form-group'>
				<label>Squat</label>
				<input  type='number' min='5' max='1000' step='5' value='100' class='form-control' ng-model='record.squat' required />
			</div>
			<button class='btn btn-primary btn-save--{{ saveStatuts }}' ng-click='saveChanges()' ng-disabled='!MaxForm.$valid'>
				<span ng-if='!saveStatus'>Save Changes</span>
				<span ng-if='saveStatus == "saving"'>Saving</span>
				<span ng-if='saveStatus == "saved"'>Saved</span>
				<span ng-if='saveStatus == "error"'>Error</span>
			</button>
			<button class='btn btn-danger pull-right' ng-click='remove()'>Remove Max</button>
			<hr />
			<a class='btn btn-sm btn-default' ng-if='uriEncodedMaxes' ng-href='api/table/531?{{uriEncodedMaxes}}'>531 Cycle</a>
			<a class='btn btn-sm btn-default' ng-if='uriEncodedMaxes' ng-href='api/table/gzcl?{{uriEncodedMaxes}}'>GZCL Method</a>
		</form>
	</div>
</div>
