body {
	background-color: #f5f5f5;
}

.container--default {
	padding-top: 40px;
}

.c-sidebar {
	margin: 1em 0em;
}

.c-sidebar__bottom {
	position: absolute;
	bottom: 0;
}

.b-overlay {
	top:0;
	left: 0;
	z-index: 1035;
}

.b-overlay__container {
/* 	position: relative; */
}

.b-overlay__component--top-left {
	position: absolute;
	top: 0;
	left: 0;
}

.b-overlay__component--top-middle {
	position: absolute;
	top: 0;
	left: 50%;
	width: 400px;
	margin-left: -200px;
}

.b-overlay__component--top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.b-overlay__component--bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.b-overlay__component--bottom-middle {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 400px;
	margin-left: -200px;
}

.b-overlay__component--bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

.block {
	border: 1px solid #ccc;
	border-top: 0;
	background: #fff;
	margin: 1em 0em;
}

.block--nav {
	border: 1px solid #ccc;
	background: #fff;
	margin: 1em 0em;
}

.block__body {
	margin: 1em;
	min-height: .25em;
}

.block__header {
	border-left: 0;
	border-right: 0;
	border-radius: 0;
}

.block__header div {
	padding-top: 10px;
}