@import url(/bower_components/bootstrap/dist/css/bootstrap.min.css);
@import url(/bower_components/font-awesome/css/font-awesome.css);

.input--noborder {
	background: none;
	border: none;
}

.label--maxes::before { content: "M"; padding-right: 4px }
.label--maxes { background: rgb(200,0,0); }

.label--delta::before { content: "\0394";  padding-right: 4px}
.label--delta { background: rgb(128,0,128); }

.label--delta::before { content: "\0394";  padding-right: 4px}
.label--delta { background: rgb(128,0,128); }

.label--estimatedMax { background: rgb(0,0,128); }
.label--estimatedMax::before { content: "\2248M"; padding-right: 4px; color: rgba(255,255,255,0.5);}
.label--deltaTargetMax { background: rgb(128, 0,128); }
.label--deltaTargetMax::before { content: "\0394TM"; padding-right: 4px; }
.label--deltaTrainingMax { background: rgb(200, 0, 0); }
.label--deltaTrainingMax::before {content: "\0394TrM"; padding-right: 4px; }

.entity__action--remove::before {
	display: inline-block;
	font-family: "FontAwesome";
	content: '\f057';
	padding-right: 8px;
	color: rgb(128,0,0);
}
