<!DOCTYPE html>
{% autoescape true %}
{% set p = request.get('p') | int() %}
{% set d = request.get('d') | int() %}
{% set b = request.get('b') | int() %}
{% set s = request.get('s') | int() %}

{% set plates_setup = request.get('plates_setup', default_value='gym') %}

{% set press_acc = request.GET.getall('pa') %}

{% set da = request.get('pa') | int() %}
{% set ba = request.get('pa') | int() %}
{% set sa = request.get('pa') | int() %}

{% set max_lifts = [('p',p), ('d',d),('b',b),('s',s)] %}
{% set table = utils.generate_month(max_lifts,'531', plates_setup) %}
{% set startDate = request.get('startDate') %}

{% import 'common.html' as common with context %}

<html>
  <head>
    <title>531 Month Cycle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bower_components/normalize.css/normalize.css" rel="stylesheet">
    <link href="/assets/components/plate-table.css" rel="stylesheet">
    <link href="/assets/static/table/style.css" rel="stylesheet">
    <link href="/assets/static/table/print-fixer.css" rel="stylesheet">
  </head>
  <body>
	  <div class='container page--531'>
		  {% for lift, month in table.iteritems() %}
		  	{{ common.lift_month(lift, month, loop.index) }}
		  {% endfor %}
		  <hr class='page-break' />
		  <div id='page2'>
			  {{ common.lift_accessory("T-Bar Row", request.GET.getall('pa') , 1, 1, False) }}
			  {{ common.lift_accessory("Shurgs", request.GET.getall('da'), 2) }}
			  {{ common.lift_accessory("Rows", request.GET.getall('ba'), 3) }}
			  {{ common.lift_accessory("Squat", request.GET.getall('sa'), 4) }}
		  </div>
		  <div class='date'>
			  <span>{{ startDate }}</span>
		  </div>
		  <div class='page-break'></div>
		  <div class='noprint'>
		  <div class='date'>
			  <div class='settings'>
				  <p>Controls</p>
				  <div class='settings__content'>
					  <a href='{{ "531bbb?p=%s&d=%s&b=%s&s=%s" | format(*(p-5,d-10,b-5,s-10)) }}' class='btn btn-primary btn-xs'>Prev</a>
					  <span>{{ today }}</span>
					  <a href='{{ "531bbb?p=%s&d=%s&b=%s&s=%s" | format(*(p+5,d+10,b+5,s+10)) }}' class='btn btn-primary btn-xs'>Next</a>
				  </div>
			  </div>
		  </div>
		  </div>
	  </div>
  </body>
</html>
{% endautoescape %}
