<!DOCTYPE html>
{% autoescape true %}
{% set p = request.get('p') | int() %}
{% set d = request.get('d') | int() %}
{% set b = request.get('b') | int() %}
{% set s = request.get('s') | int() %}

{% set plates_setup = request.get('plates_setup', default_value='gym') %}

{% set max_lifts = [('p',p), ('d',d),('b',b),('s',s)] %}
{% set table = utils.generate_month(max_lifts,'531', plates_setup) %}
{% set startDate = request.get('startDate') %}

{% import 'common.html' as common with context %}

<html>
  <head>
	  <title>531 Month Cycle ({{ tmpl.today() }})</title>
	  <meta content="Worksheet for {{ tmpl.today() }}" name="description">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/bower_components/normalize.css/normalize.css" rel="stylesheet">
    <link href="/assets/components/plate-table.css" rel="stylesheet">
    <link href="/assets/static/table/style.css" rel="stylesheet">
    <link href="/assets/static/table/print-fixer.css" rel="stylesheet">
  </head>
  <body>
	  <div class='container page--531'>
		  {% for lift, month in table.iteritems() %}
		  	{{ common.lift_month(lift, month, loop.index) }}
		  {% endfor %}
		  <hr class='page-break' />

		  <div id='page2' class='overflow-clearfix'>
			  <div style='overflow: hidden'>
				  {{ common.lift_accessory("T-Bar Row", request.GET.getall('pa') , 1, 1, False) }}
				  {{ common.lift_accessory("Shurgs", request.GET.getall('da'), 2) }}
				  {{ common.lift_accessory("Rows", request.GET.getall('ba'), 3) }}
				  {{ common.lift_accessory("Squat", request.GET.getall('sa'), 4) }}
			  </div>
			  <hr />
			  <div style='overflow: hidden'>
				  {{ common.lift_dl("Press", p, 1) }}
				  {{ common.lift_dl("Deadlift", d, 2) }}
				  {{ common.lift_dl("Bench",    b, 3) }}
				  {{ common.lift_dl("Squat",    s, 4) }}
			  </div>
		  </div>

		  <div class='center'>
			  <h1 class='center'>531 Month Cycle ({{ tmpl.today() }})</h1>
			  <img id='url1' src='' class='center' />
			  <p><a id='url2'></a></p>
		  </div>

		  <script>
			var thisUrl = document.location.href;
			document.getElementById('url1').src = 'http://chart.apis.google.com/chart?cht=qr&chs=200x200&chl='+encodeURIComponent(thisUrl)+'&chld=H|0';
			document.getElementById('url2').href = thisUrl;
			document.getElementById('url2').innerHTML = thisUrl;
		  </script>

		  <div class='date'>
			  <span>{{ startDate }}</span>
		  </div>
		  <div class='page-break'></div>
		  <div class='noprint'>
		  <div class='date'>
			  <div class='settings'>
				  <p>Controls</p>
				  <div class='settings__content'>
					  <a href='{{ "531bbb?p=%s&d=%s&b=%s&s=%s" | format(*(p-5,d-10,b-5,s-10)) }}' class='btn btn-primary btn-xs'>Prev</a>
					  <span>{{ today }}</span>
					  <a href='{{ "531bbb?p=%s&d=%s&b=%s&s=%s" | format(*(p+5,d+10,b+5,s+10)) }}' class='btn btn-primary btn-xs'>Next</a>
				  </div>
			  </div>
		  </div>
		  </div>
	  </div>
  </body>
</html>
{% endautoescape %}
