<!DOCTYPE html>
{% autoescape true %}
{% set currentWeek = request.get('week')  %}
{% set max = request.get('max') | int() %}
{% set table = utils.generate_week(max, currentWeek) %}
{% set startDate = request.get('startDate') %}
<html>
  <head>
    <title>531 Month Cycle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/components/plate-table.css" rel="stylesheet">
    <link href="/assets/static/table/style.css" rel="stylesheet">
  </head>
  <body>
	  <div class='container page--531'>
		  <div class='row lift lift--1'>
			  <div class='lift__month'>
				  {% for week in [currentWeek,'DL'] %}
				  <div class='col-md-3 lift__week lift__week--{{week}}'>
					  <div class='lift__week-table'>
					  <table class='table'>
						  <thead>
							  <tr class='lift__week-header'>
								  <th colspan='2'>{{ lift }}</th>
								  <th colspan='6'>{{ week }}</th>
							  </tr>
							  <tr class='lift__week-legend'>
								  <td>%</td>
								  <td>W</td>
								  <td>45</td>
								  <td>35</td>
								  <td>25</td>
								  <td>10</td>
								  <td>5</td>
								  <td>2&frac12;</td>
							  </tr>
						  </thead>
						  <tbody>
							  {% for pct, plates in month[week].iteritems() | sort %}
							  <tr class='lift__set lift_set--{{(pct*100)|int}}'>
								  <td>{{ (pct*100) | int }}%</td>
								  {% for plate in plates %}
								  <td>{{ plate | int }}</td>
								  {% endfor %}
							  </tr>
							  {% endfor %}
						  </tbody>
					  </table>
				  </div>
				  </div>
				  {% endfor %}
			  </div>
		  </div>
		  <div class='date'>
			  <span>{{ startDate }}</span>
		  </div>
		  <div class='' contenteditable>CLICK TO ADD NOTE</div>
		  <div class='date'>
		  </div>
	  </div>
  </body>
</html>
{% endautoescape %}
