<div class='screen-tools-rep-goal'>
		<div class='d'>
			<form role='form'>
				<div class='form-group'>
					<label for='weight'>Max</label>
					<input type='number' ng-model='mdl.max' placeholder='Max' class='form-control' />
					<div class='rep-goal__from btn-group'>
						<button class='btn btn-default btn-xs' ng-click='useMax(lift)' ng-repeat='lift in ApplicationEnum.LIFT'>{{ lift }}</button>
					</div>
				</div>
				<div class='form-group'>
					<label for='weight'>Weight</label>
					<input type='number' ng-model='mdl.weight' placeholder='Weight (lbs)' class='form-control' />
					<div class='rep-goal__use-fraction btn-group'>
						<button class='btn btn-default btn-xs' ng-click='useFraction(fraction)' ng-repeat='fraction in ApplicationEnum.FRACTION'>{{ fraction * 100 }}%</button>
					</div>
				</div>
				<hr />
				<div class='form-group'>
					<label for='reps'>Goal Reps</label>
					<input type='text' readonly ng-model='result' class='form-control' />
				</div>
			</form>
		</div>
</div>
