<div class='screen-tools-sheets'>
	<ul class="nav nav-tabs nav-justified">
		<li ng-class='{true:"active"}[v.pane === "531bbb"]'><a href ng-click='v.pane = "531bbb"'>531bbb</a></li>
		<li ng-class='{true:"active"}[v.pane === "531single"]'><a href ng-click='v.pane = "531single"'>531 Single Lift</a></li>
		<li ng-class='{true:"active"}[v.pane === "531day"]'><a href ng-click='v.pane = "531day"'>531 Day (mobile friendly)</a></li>
		<li ng-class='{true:"active"}[v.pane === "531"]'><a href ng-click='v.pane = "531"'>531</a></li>
		<li ng-class='{true:"active"}[v.pane === "GZCL"]'><a href ng-click='v.pane = "GZCL"'>GZCL</a></li>
	</ul>
	<div ng-switch on='v.pane'>
		<article ng-switch-when='531bbb'>
			<h3>531bbb</h3>
			<div max-group='m.cycle'></div>

			<div sheets-accessory='m.cycle.pa' name="T-Bar Row"></div>
			<div sheets-accessory='m.cycle.da' name="Shrugs"></div>
			<div sheets-accessory='m.cycle.ba' name="Rows"></div>
			<div sheets-accessory='m.cycle.sa' name="Good Morning"></div>

			<a class='btn btn-primary' ng-href='/api/table/531bbb?{{ cycleParams }}'><i class='fa fa-external-link'> </i> 531 cycles</a>
		</article>

		<article ng-switch-when='531'>
			<h3>531</h3>
			<div max-group='m.cycle'></div>
			<a class='btn btn-primary' ng-href='/api/table/531?{{ cycleParams }}'><i class='fa fa-external-link'> </i> 531 cycles</a>
		</article>

		<article ng-switch-when='531day'>
			<h3>531 Day</h3>
			<div class='form-group'>
				<label>Max</label>
				<div class='input-group'>
					<input type='number' ng-model="m['531day'].max" class='form-control' />
					<div class='input-group-btn'>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class='fa fa-copy'></span></button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat='lift in ApplicationEnum.LIFT'><a href ng-click='useMax(lift)'>{{ lift }} ({{ r[lift[0]] }})</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class='form-group'>
				<select ng-model="m['531day'].week" class='form-control'>
					<option value=''>SELECT WEEK</option>
					<option value='3x5'>3x5</option>
					<option value='3x3'>3x3</option>
					<option value='531'>3x5</option>
					<option value='DL'>DL</option>
				</select>
			</div>

			<a class='btn btn-primary' ng-href='/api/table/531day?{{ m["531day"] | paramString }}'><i class='fa fa-external-link'> </i> 531 cycles</a>
		</article>

		<article ng-switch-when='531single'>
			<h3>531 cycles for a single lift</h3>
			<div class='form-group'>
				<label>Max</label>
				<div class='input-group'>
					<input type='number' ng-model='m.fiveMonths.max' class='form-control' />
					<div class='input-group-btn'>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class='fa fa-copy'></span></button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat='lift in ApplicationEnum.LIFT'><a href ng-click='useMax(lift)'>{{ lift }} ({{ r[lift[0]] }})</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class='form-group'>
				<label>Cycles</label>
				<select class='form-control' ng-model='m.fiveMonths.cycles' ng-options='c for c in [1,2,3,4,5,6,7,8,9,10]'>
				</select>
			</div>
			<div class='form-group'>
				<label>Increment</label>
				<select class='form-control' ng-model='m.fiveMonths.increment'>
					<option value='5'>5</option>
					<option value='10'>10</option>
				</select>
			</div>

			<a class='btn btn-primary' ng-href='/api/table/531x5?{{ projectedMaxes }}'><i class='fa fa-external-link'> </i> 531 cycles</a>
		</article>

		<div ng-switch-when='GZCL'>
			<h3>GZCL</h3>
			<div max-group='m.cycle'></div>
			<a class='btn btn-primary' ng-href='/api/table/gzcl?{{ cycleParams }}'><i class='fa fa-external-link'> </i> GZCL</a>
		</div>

		<div ng-switch-when='Accessory'>
			<h3>Accessory</h3>
			<a class='btn btn-primary' ng-href='/api/table/gzcl'><i class='fa fa-external-link'> </i> GZCL</a>
		</div>

		<article ng-switch-default>
			<br />
			<div class='alert alert-info'>
				<h2><i class='fa fa-hand-o-up'></i> Please choose a sheet</h2>
			</div>
		</article>
	</div>
</div>
