<div class='screen-profile-personal-record-edit'>
	<div ng-show='$loading'>
		<h1><i class='fa fa-spinner fa-spin'> </i></h1>
	</div>
	<div ng-hide='$loading'>
		<div class='clearfix'>
			<h4>
				<span class='text-success' ng-show='dto.key == null'>NEW </span>
				<span>Personal Record for <input type='date' ng-model='dto.date' class='input--noborder' /></span>
			</h4>
		</div>
		<div class='screen-profile-personal-record-edit__edit-form'>
			<form name='prEditForm'>
				<div class='form-group'>
					<label for='lift'>Lift</label>
					<select ng-model='dto.lift' ng-options='lift for lift in ApplicationEnum.LIFT' class='form-control'>
						<option>-- Select Lift --</option>
					</select>
				</div>
				<div class='form-group'>
					<label for='weight'>Weight</label>
					<input type='number' step='5' min='45' max='900' ng-model='dto.weight' placeholder='Weight (lbs)' name='weight' class='form-control' />
				</div>
				<div class='form-group'>
					<label for='reps'>Number of Reps</label>
					<select ng-model='dto.reps' ng-options='rep for rep in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]' name='reps' class='form-control'>
					</select>
				</div>
				<div class='form-group' ng-if='isNew'>
					<label for='date'>Date</label>
					<input type='date' ng-model='dto.date' placeholder='Date' class='form-control' />
				</div>
				<div class='table-responsive'>
					<table class='table'>
						<tr>
							<th>Training Max</th>
							<th>Estimated Max</th>
							<th>Target Reps</th>
						</tr>
						<tr>
							<td>{{ effectiveMax[dto.lift] }} </td>
							<td>{{ estMax | number:0 }} ({{ dto.weight / effectiveMax[dto.lift] * 100 }}%)</td>
							<td>
								{{ targetReps }}
								<span class='text-muted'>(<span ng-show='dto.reps > targetReps'>+</span>{{ dto.reps - targetReps }})</span>
							</td>
						</tr>
					</table>
					</div>

				<button class='btn btn-primary btn-save--{{ saveStatuts }}' ng-click='saveChanges()'>
					<span ng-if='!saveStatus'>Save Changes</span>
					<span ng-if='saveStatus == "saving"'>Saving</span>
					<span ng-if='saveStatus == "saved"'>Saved</span>
					<span ng-if='saveStatus == "error"'>Error</span>
				</button>

				<div class='pull-right'>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
							<i class='fa fa-cog'></i>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation">
								<a ng-href='#/profile/personal-record?feq_lift={{ dto.lift }}&ordering=-date&feq_weight={{ dto.weight }}'>Review Past Attempts</a>
							</li>
							<li role="presentation">
								<a ng-href='#/profile/note/edit?date={{ dto.date }}'>Review Note</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href ng-click='remove()' class='entity__action--remove'>Remove</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
