<div class='screen-profile-personal-record-edit'>
	<div ng-show='loading.existingPersonalRecord'>
		<h1><i class='fa fa-spinner fa-spin'> </i></h1>
	</div>
	<div ng-hide='loading.existingPersonalRecord'>
		<div class='clearfix'>
			<div class='pull-right'>
				<button ng-click='fillInFormFromPreviousData()' ng-show='dto.key == null' class='btn btn-warning'><i class='fa fa-bolt'></i></button>
			</div>
			<h4>
				<span class='text-success' ng-show='dto.key == null'>NEW </span>
				<span>Log for <input type='date' ng-model='dto.date' class='input--noborder' /></span>
			</h4>
		</div>
		<div class='screen-profile-personal-record-edit__edit-form'>
			<form name='prEditForm'>
				<div class='form-group'>
					<label for='lift'>Lift</label>
					<select ng-model='dto.lift' ng-options='lift as lift for lift in ApplicationEnum.LIFT' class='form-control'>
						<option value=''>-- Select Lift --</option>
					</select>
				</div>
				<div class='form-group'>
					<label for='weight'>Weight</label>
					<div class='input-group'>
						<input type='number' step='5' min='45' max='900' ng-model='dto.weight' placeholder='Weight (lbs)' name='weight' class='form-control' />
						<div class='input-group-btn'>
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">%</button>
							<ul class="dropdown-menu" role="menu">
								<li ng-repeat='fraction in ApplicationEnum.FRACTION'><a href ng-click='dto.weight = (effectiveMax[dto.lift] * fraction)'>{{ fraction * 100 }}%</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label for='reps'>Number of Reps</label>
					<select ng-model='dto.reps' ng-options='rep as (rep == targetReps ? (rep+"=") : rep)   for rep in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]' name='reps' class='form-control'>
					</select>
				</div>
				<div class='form-group' ng-if='isNew'>
					<label for='date'>Date</label>
					<input type='date' ng-model='dto.date' placeholder='Date' class='form-control' />
				</div>
				<div class='table-responsive'>
					<table class='table'>
						<tr>
							<th>Training Max</th>
							<th>Estimated Max</th>
							<th>Target Reps</th>
						</tr>
						<tr>
							<td>
								{{ effectiveMax[dto.lift] }}
								<span class='text-muted'>&asymp;{{ (dto.weight / effectiveMax[dto.lift]) * 100 | roundTo:5 }}%</span>
							</td>
							<td>
								{{ estMax | number:0 }} 
								<a ng-href='#/profile/personal-record/edit?key={{ lastAttempt.key }}'<span class='text-muted'>{{ lastAttemptEstMax | number:0 }}</span></a>
								<a ng-href='#/profile/personal-record/edit?key={{ previous.key }}'<span class='text-muted'>{{ previousEstMax | number:0 }}</span></a>
							</td>
							<td>
								{{ targetReps }}
								<span class='target-reps-delta' ng-class='{"up": dto.reps > targetReps, "down": dto.reps < targetReps}'>
									<span ng-show='dto.reps >= targetReps'>+</span>
									{{ dto.reps - targetReps }}
								</span>

							<span class='text-muted'>( {{ lastAttempt.reps }} )</span>
							</td>
						</tr>
					</table>
					</div>

				<button class='btn btn-block btn-primary btn-save--{{ saveStatuts }}' ng-click='saveChanges()'>
					<span ng-if='!saveStatus'>Save Changes</span>
					<span ng-if='saveStatus == "saving"'>Saving</span>
					<span ng-if='saveStatus == "saved"'>Saved</span>
					<span ng-if='saveStatus == "error"'>Error</span>
				</button>

				<hr />
				<a class='btn btn-block btn-default' ng-href='#/profile/personal-record?feq_lift={{ dto.lift }}&ordering=-date&feq_weight={{ dto.weight }}'>Review Past Attempts</a>
				<a class='btn btn-block btn-default' ng-href='#/profile/note/edit?date={{ dto.date }}'>Review Note</a>
				<a href ng-click='remove()' class='btn btn-block btn-danger entity__action--remove'>Remove</a>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
