<!-- <div class='row-fluid'> -->
<!-- 	<div class='span12'> -->
<!-- 		<div class=''> -->
<!-- 			<ul class="breadcrumb breadcrumb--block"> -->
<!-- 		  		<li><a href="#/user">Users</a> <span class="divider">/</span></li> -->
<!-- 		  		<li class="active">Details</li> -->
<!-- 			</ul> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->

<div class='row-fluid'>
	<div class='span12'>
		<c-block title='User Detail'>
			<c-user-detail></c-user-detail>
		</c-block>
	</div>
</div>

<div class='row-fluid'>
	<div class='span6'>
		<c-block title='Application Profiles'>
			<c-user-aps></c-user-aps>
		</c-block>
	</div>
	
	<div class='span6'>
		<c-block title='Properties'>
			<c-user-properties></c-user-properties>
		</c-block>
	</div>
</div>


